html,
body {
  padding: 0;
  margin: 0;
  min-width: 375px;
}

.main-container {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0%;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: row;
  background: #3c3a39;
  height: 48px;
  order: 0;
  justify-content: space-between;
  align-items: center;
  padding-left: 6.4%;
  padding-right: 6.4%;
}

#logo-text {
  width: 26.93%;
  height: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

/* #navbar-menu-icon {
  width: 10.66%;
  height: 10.66%;
} */

.navbar-menu {
  display: none;
}

/* Headline */
.headline {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 6.4%;
  padding-right: 6.4%;
  gap: 24px;
  background: url('../images/illustration-header-mobile.png') no-repeat #1c1a19;
  background-position: 100% 118%;
}

.headline-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#primary-text {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-size: 56px;
  font-weight: 400;
  color: #f55800;
}

#supporting-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

#description {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #f4f5f7;
}

.headline-social-media {
  width: 53.33%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding-left: 0%;
}

.social-media-icon {
  border-radius: 8px;
}

a:hover {
  background-color: #ff6b00;
}

/* Recent Works */
.works {
  order: 2;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 6.4%;
  padding-right: 6.4%;
  gap: 80px;
}

.works-header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.works-title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #091e42;
}

.works-header-hr {
  border: 1px solid #212121;
}

.works-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.featured-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#featured-image {
  min-width: none;
  min-height: 237px;
  justify-content: center;
  background: url('../images/featured-work/Img-Placeholder.png') no-repeat;
  background-position: center center;
}

.featured-textblock {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#textblock-title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 400;
  color: #091e42;
}

#testblock-supporting-text {
  font-family: 'Inter', serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  color: #091e42;
}

.textblock-tags {
  display: flex;
  flex-direction: row;
  font-family: 'Inter', serif;
  font-style: normal;
  list-style-type: none;
  font-weight: 500;
  font-size: 15px;
  color: #091e42;
  box-sizing: border-box;
  padding: 0;
  gap: 12px;
}

.textblock-tags > li {
  background: #fff;
  border: 1px solid #8993a4;
  padding: 10px 12px;
}

.textblock-link {
  background-color: #f55800;
  color: white;
  padding: 14px 25px;
  width: 124px;
  text-align: center;
  text-decoration: none;
}

.other-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.content-defaults {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 84px;
  background: url('../images/featured-work/Img-Placeholder2.png') no-repeat;
  justify-content: center;
}

.other-content-title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #fff;
  padding-left: 5.42%;
  padding-right: 5.42%;
  width: 295px;
}

.other-content-description {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  padding-left: 5.42%;
  padding-right: 5.42%;
  width: 295px;
}

.other-content-tags {
  display: flex;
  flex-direction: row;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  gap: 12px;
  list-style-type: none;
  color: #fff;
  box-sizing: border-box;
  padding: 0;
  padding-left: 5.42%;
  padding-right: 5.42%;
}

.other-content-tags > li {
  padding: 10px;
  background: rgba(255, 255, 255, 0.24);
}

.other-content-link {
  background-color: #ff6b00;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  width: 278px;
}

.content1 {
  padding-top: 338px;
}

/* About */
.about {
  order: 3;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  padding-left: 6.4%;
  padding-right: 6.4%;
  padding-bottom: 120px;
  background: url('../images/about/Frame.png') no-repeat #262626;
  background-position: 100% 35%;
}

.about-top {
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
  gap: 24px;
}

.about-primary-text {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-size: 72px;
  font-weight: 400;
  color: #f55800;
}

.about-description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  color: #f4f5f7;
}

.about-link {
  background-color: #f55800;
  padding: 12px;
  color: white;
  width: 161px;
  text-align: center;
  text-decoration: none;
}

.about-hr {
  border: 1px solid #fff;
  margin-top: 80px;
}

.about-bottom {
  display: grid;
  grid-template-columns: auto;
  grid-row: auto auto auto;
  padding-top: 120px;
  gap: 32px;
}

.about-bottom-subtopic {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #fff;
  text-align: center;
  justify-items: center;
  padding-bottom: 25px;
}

.about-bottom-items > ul > li {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  list-style-type: none;
  text-align: center;
}

.about-bottom > ul {
  padding: 0%;
}

.about-bottom-items > ul {
  line-height: 30px;
  padding: 0%;
}

.subtopic-language {
  list-style-image: url("../images/about/Rectangle\ 55.png");
}

.subtopic-frameworks {
  list-style-image: url("../images/about/Rectangle\ 56.png");
}

.subtopic-skills {
  list-style-image: url("../images/about/Rectangle\ 57.png");
}

/* Form Section */
.form-section {
  order: 4;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 6.4%;
  padding-right: 6.4%;
  gap: 58px;
}

.form-section-text {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #172b4d;
}

.form-section-form > form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#names {
  display: none;
}

#submit-btn {
  order: 3;
  width: 131px;
  height: 48px;
  background: #f55800;
  flex-direction: row;
  align-items: center;
  color: #fff;
  border: none;
}

#submit-btn:hover {
  background: #8993a4;
}

/* Bottom Navigation */
.bottom-nav {
  order: 5;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 15px;
}

#footer-hr {
  border: 1px solid #dfe1e6;
}

#footer {
  display: flex;
  gap: 30px;
  list-style-type: none;
  justify-content: center;
  padding-left: 0%;
}

/* *************************************** */
@media only screen and (min-width: 768px) {
  /* Navbar */
  .navbar {
    height: 72px;
    padding-left: 9.9%;
    padding-right: 9.9%;
  }

  #logo-text {
    font-size: 20px;
    line-height: 20px;
  }

  #navbar-menu-icon {
    display: none;
  }

  .navbar-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 32px;
    padding: 0%;
  }

  .nav-menu-button {
    display: flex;
    flex-direction: row;
    height: 40px;
    text-decoration: none;
    color: #fff;
  }

  #nav-mail-icon {
    width: 20px;
    height: 20px;
  }

  /* Headline */
  .headline {
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 9.9%;
    padding-right: 9.9%;
    gap: 6%;
    background: url('../images/desktop-size/Illustration-header.png') no-repeat #1c1a19;
    background-position: 100% 100%;
  }

  .headline-social-media {
    order: 0;
    flex-direction: column;
    gap: 20px;
    width: 20px;
    border-radius: 8px;
  }

  .headline-text {
    width: 566px;
    order: 1;
  }

  #primary-text {
    font-size: 72px;
    line-height: 82px;
  }

  #supporting-text {
    font-size: 32px;
    line-height: 44px;
  }

  #description {
    font-size: 20px;
    line-height: 32px;
  }

  /* Recent Works */
  .works {
    display: flex;
    flex-direction: column;
    gap: 114px;
  }

  .works-header {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .works-title {
    /* width: 325px; */
    width: 32%;
  }

  .works-header-hr {
    width: 60%;
  }

  .works-content {
    width: 1156px;
    height: 1379px;
    align-items: center;
    order: 1;
  }

  .featured-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
  }

  #featured-image {
    width: 684px;
    height: 448px;
    order: 1;
    background: url('../images/desktop-size/Img\ Placeholder\(1\).png') no-repeat;
  }

  .featured-textblock {
    order: 2;
  }

  #textblock-title {
    width: 448px;
    height: 48px;
    font-size: 40px;
    line-height: 20px;
  }

  #textblock-supporting-text {
    width: 448px;
    height: 140px;
    font-size: 20px;
    line-height: 28px;
  }

  .textblock-tags {
    width: 297px;
    height: 40px;
    margin-left: 4px;
  }

  .textblock-link {
    width: 124px;
    height: 48px;
  }

  .other-content {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 24px;
  }

  .content-defaults {
    background: none;
  }

  .content1 {
    display: flex;
    background: url("../images/desktop-size/other-content/Img\ Placeholder\(2\).png");
  }

  .content2 {
    background: url("../images/desktop-size/other-content/Img\ Placeholder\(3\).png");
  }

  .content3 {
    background: url("../images/desktop-size/other-content/Img\ Placeholder\(4\).png");
  }

  .content4 {
    background: url("../images/desktop-size/other-content/Mask\ Group.png");
  }

  .content5 {
    background: url("../images/desktop-size/other-content/Img\ Placeholder\(3\).png");
  }

  .content6 {
    background: url("../images/desktop-size/other-content/Img\ Placeholder\(4\).png");
  }

  /* ABOUT */
  .about {
    order: 3;
    background: url('../images/desktop-size/illustration-about\ me.png') no-repeat #262626;
    background-position: 100% 10%;
  }

  .about-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .about-primary-text {
    width: 39.3%;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
  }

  .about-description {
    width: 39.3%;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }

  .about-hr {
    top: calc(50% - 0px / 2 + 0.5px);
  }

  .about-bottom {
    grid-template-columns: auto auto auto;
    gap: 100px;
  }

  .about-bottom-items > ul > li {
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    text-align: center;
  }

  .form-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    order: 4;
  }

  .form-section-text {
    width: 30.9%;
    gap: 24px;
  }

  .form-section-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 47.5%;
    gap: 24px;
  }

  #submit-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12px;
    gap: 10px;
  }

  #names {
    display: flex;
    gap: 30px;
  }

  #first-name {
    width: 43.5%;
  }

  #last-name {
    width: 43.5%;
  }

  #name {
    display: none;
  }

  .bottom-navigation {
    order: 5;
  }
}
