.main-mobile {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 6968px;
  background: #fff;
}

/* APP BAR */
.app-bar {
  display: flex;
  width: 375px;
  height: 92px;
  background: #3c3a39;
  flex-direction: row;
  order: 0;
}

.toolbar {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 375px;
  height: 48px;
  top: 44px;
}

.logo-placeholder {
  display: flex;
  align-items: center;
  position: absolute;
  width: 101px;
  height: 25px;
  left: 12px;
  border-radius: 8px;
}

#logo-text {
  width: 100px;
  height: 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.toolbar-menu {
  display: flex;
  align-items: center;
  padding: 2px;
  position: absolute;
  width: 25px;
  height: 25px;
  left: 300px;
  border-radius: 8px;
}

#toolbar-menu-icon {
  position: absolute;
  width: 18px;
  height: 12px;
  right: 6px;
}

/* HEADLINE */
.headline {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 590px;
  background: url('../images/illustration-header-mobile.png') no-repeat #1c1a19;
  background-position: 100% 100%;
  order: 1;
}

.headline-fmt {
  padding-left: 15px;
}

.primary-text {
  width: 327px;
  height: 124px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.supporting-text {
  width: 327px;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.description {
  width: 327px;
  height: 123px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 40px;
  flex: none;
  order: 3;
  flex-grow: 0;
  list-style-type: none;
}

#github-icon {
  order: 0;
  border-radius: 8px;
}

#linkedin-icon {
  order: 1;
  border-radius: 8px;
}

#angelist-icon {
  order: 2;
  border-radius: 8px;
}

#twitter-icon {
  order: 3;
  border-radius: 8px;
}

#medium-icon {
  order: 4;
  border-radius: 8px;
}

a:hover {
  background-color: #ff6b00;
}

/* WORKS */
.works {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  width: 375px;
  height: 3455px;
  background: #e5e5e5;
  order: 2;
}

.works-header {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 107px;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  left: 24px;
}

.works-title {
  width: 327px;
  height: 10px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 30px;
  align-items: center;
  justify-content: center;
  color: #1c1a19;
}

.works-header-hr {
  width: 327px;
  border: 1px solid #212121;
}

.works-content {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 3028px;
  align-items: center;
  gap: 24px;
  position: relative;
  bottom: 50px;
}

.featured-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  width: 375px;
  height: 568px;
}

#featured-image {
  width: 327px;
  height: 237px;
  background: url('../images/featured-work/Img-Placeholder.png') no-repeat;
}

.featured-textblock {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 307px;
  position: relative;
  left: 24px;
}

#textblock-title {
  width: 327px;
  height: 1px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  align-items: center;
  color: #091e42;
  position: relative;
  bottom: 30px;
}

#testblock-supporting-text {
  width: 327px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #091e42;
  position: relative;
  bottom: 40px;
}

.textblock-tags {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 236px;
  height: 40px;
  list-style-type: none;
  color: #091e42;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  box-sizing: border-box;
  position: relative;
  bottom: 30px;
  justify-content: center;
}

.textblock-tags > li {
  background: #fff;
  border: 1px solid #8993a4;
  padding: 10px;
}

.textblock-link {
  background-color: #ff6b00;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  bottom: 30px;
  width: 124px;
}

.other-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  width: 375px;
  height: 2436px;
  position: relative;
  left: 24px;
}

.content-defaults {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 386px;
  background: url('../images/featured-work/Img-Placeholder2.png') no-repeat;
}

.other-content-title {
  width: 295px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  padding-left: 12px;
  color: #fff;
  position: relative;
  top: 50px;
}

.other-content-description {
  width: 295px;
  height: 87px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 12px;
  color: #fff;
  position: relative;
  top: 10px;
}

.other-content-tags {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 236px;
  height: 40px;
  list-style-type: none;
  color: #fff;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  box-sizing: border-box;
  position: relative;
  right: 30px;
}

.other-content-tags > li {
  width: fit-content;
  padding: 10px;
  background: rgba(255, 255, 255, 0.24);
  justify-content: flex-start;
}

.other-content-link {
  background-color: #ff6b00;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  top: 10px;
}

/* ABOUT */
.about {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 1901px;
  background: url('../images/about/Frame.png') no-repeat #1c1a19;
  background-position: 100% 25%;
  justify-content: center;
  justify-content: space-between;
  order: 3;
}

.about-top {
  position: relative;
  top: 100px;
  left: 24px;
  gap: 24px;
}

.about-primary-text {
  width: 327px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  color: #ff6b00;
  position: relative;
}

.about-description {
  width: 327px;
  height: 148px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.about-link {
  background-color: #ff6b00;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  height: 40;
}

.about-hr {
  width: 327px;
  top: calc(50% - 0px / 2 + 0.5px);
  border: 1px solid #fff;
}

.about-bottom {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 300px;
  left: 30px;
}

.about-bottom-subtopic {
  width: 150px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
  position: relative;
  left: 35px;
  top: 35px;
}

.about-bottom-items > ul > li {
  width: 150px;
  height: 40px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 100px;
  align-items: center;
  text-align: center;
  color: #fff;
  list-style-type: none;
  position: relative;
  top: 24px;
}

.subtopic-language {
  list-style-image: url("../images/about/Rectangle\ 55.png");
}

.subtopic-frameworks {
  list-style-image: url("../images/about/Rectangle\ 56.png");
}

.subtopic-skills {
  list-style-image: url("../images/about/Rectangle\ 57.png");
}
