/* min-width=768px */
.main-container {
  width: 100%;
  height: 4561px;
  padding: 15px;
  padding-top: 0%;
}

.navbar {
  width: 1440px;
  height: 72px;
}

.logo-placeholder {
  width: 116px;
  height: 40px;
  position: relative;
  left: 142px;
}

#logo-text {
  width: 92px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 255px;
  height: 40px;
  right: 194px;
  justify-content: space-around;
}

.nav-menu-icon {
  display: none;
}

.nav-menu-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  text-decoration: none;
  color: #fff;
}

#nav-mail-icon {
  width: 20px;
  height: 20px;
}

/* HEADLINE */
.headline {
  flex-direction: row;
  width: 1440px;
  height: 870px;
  background: url('../images/desktop-size/Illustration-header.png') no-repeat #1c1a19;
  background-position: 100% 100%;
}

.headline-text {
  width: 566px;
  height: 739px;
  position: relative;
  right: 100px;
  align-items: center;
  justify-content: center;
  padding: 0;

  /* top: 72px; */
  order: 1;
}

#primary-text {
  width: 566px;
  height: 160px;
  font-size: 72px;
  line-height: 82px;
}

#supporting-text {
  width: 566px;
  height: 24px;
  font-size: 32px;
  line-height: 44px;
}

#description {
  width: 566px;
  height: 123px;
  font-size: 20px;
  line-height: 32px;
}

.headline-social-media {
  flex-direction: column;
  order: 0;
  line-height: 50px;
  border-radius: 8px;
}

/* WORKS */
.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 114px;
  position: relative;
  width: 1204px;
  height: 1805px;
  order: 2;
}

.works-header {
  flex-direction: row;
  gap: 24px;
  width: 1133px;
  height: 52px;
  order: 0;
}

.works-title {
  width: 315px;
  height: 52px;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.works-header-hr {
  width: 794px;
}

.works-content {
  width: 1156px;
  height: 1379px;
  align-items: center;
  order: 1;
}

.featured-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  width: 1156px;
  height: 448px;
}

#featured-image {
  width: 684px;
  height: 448px;
  background: url('../images/desktop-size/Img\ Placeholder\(1\).png') no-repeat;
}

.featured-textblock {
  width: 448px;
  height: 348px;
}

#textblock-title {
  width: 448px;
  height: 48px;
  font-size: 40px;
  line-height: 20px;
}

#textblock-supporting-text {
  width: 448px;
  height: 140px;
  font-size: 20px;
  line-height: 28px;
}

.textblock-tags {
  width: 297px;
  height: 40px;
}

.textblock-link {
  width: 124px;
  height: 48px;
}

.other-content {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  width: 1155px;
  height: 1000px;
  padding-top: 24px;
}

.content-defaults {
  width: 369px;
  height: 435px;
  justify-content: flex-end;
  background: none;
}

.content1 {
  display: flex;
  justify-content: flex-end;
  background: url("../images/desktop-size/other-content/Img\ Placeholder\(2\).png");
}

.content2 {
  background: url("../images/desktop-size/other-content/Img\ Placeholder\(3\).png");
}

.content3 {
  background: url("../images/desktop-size/other-content/Img\ Placeholder\(4\).png");
}

.content4 {
  background: url("../images/desktop-size/other-content/Mask\ Group.png");
}

.content5 {
  background: url("../images/desktop-size/other-content/Img\ Placeholder\(3\).png");
}

.content6 {
  background: url("../images/desktop-size/other-content/Img\ Placeholder\(4\).png");
}

/* ABOUT */
.about {
  width: 1440px;
  height: 1195px;
  order: 3;
  background: url('../images/desktop-size/illustration-about\ me.png') no-repeat #262626;
  background-position: 100% 10%;
}

.about-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 566px;
  height: 582px;
  position: relative;
  left: 142px;
}

.about-primary-text {
  width: 566px;
  height: 78px;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
}

.about-description {
  width: 566px;
  height: 148px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.about-hr {
  width: 1156px;
  top: calc(50% - 0px / 2 + 0.5px);
}

.about-bottom {
  /* display: flex;
  flex-direction: row;
  align-items: flex-start; */
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 100px;
  width: 1157.46px;
  height: 596px;
  position: relative;
  left: 141px;
  align-items: center;
}

.about-bottom-subtopic {
  width: 270px;
  height: 60px;
}

.about-bottom-items > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 186px;
  height: 216px;
}

.about-bottom-items > ul > li {
  width: 180px;
  height: 24px;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
}

.last-section {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 1163px;
  height: 590px;
  order: 4;
}

.last-section-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 120px;
  width: 455px;
  height: 256px;
}

.last-section-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 120px;
  gap: 24px;
  width: 684px;
  height: 400px;
}

#submit-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px;
  gap: 10px;
  width: 122px;
  height: 48px;
}

#first-name {
  width: 330px;
  height: 48px;
}

#last-name {
  width: 330px;
  height: 48px;
}

#email {
  width: 676px;
  height: 48px;
}

#message {
  width: 676px;
  height: 114px;
}

.bottom-navigation {
  order: 5;
}

#footer {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
