.main-mobile {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 6968px;
  background: rgb(103, 88, 212);
}

/* APP BAR */
.app-bar {
  display: flex;
  width: 375px;
  height: 92px;
  background: #3c3a39;
  flex-direction: row;
  order: 0;
}

.toolbar {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 375px;
  height: 48px;
  top: 44px;
}

.logo-placeholder {
  display: flex;
  align-items: center;
  position: absolute;
  width: 101px;
  height: 25px;
  left: 12px;
  border-radius: 8px;
}

#logo-text {
  width: 100px;
  height: 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.toolbar-menu {
  display: flex;
  align-items: center;
  padding: 2px;
  position: absolute;
  width: 25px;
  height: 25px;
  left: 300px;
  border-radius: 8px;
}

#toolbar-menu-icon {
  position: absolute;
  width: 18px;
  height: 12px;
  right: 6px;
}

/* HEADLINE */
.headline {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 590px;
  background: url('../images/illustration-header-mobile.png') no-repeat #1c1a19;
  background-position: 100% 100%;
  order: 1;
}

.headline-fmt {
  padding-left: 15px;
}

.primary-text {
  width: 327px;
  height: 124px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.supporting-text {
  width: 327px;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.description {
  width: 327px;
  height: 123px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 40px;
  flex: none;
  order: 3;
  flex-grow: 0;
  list-style-type: none;
}

#github-icon {
  order: 0;
  border-radius: 8px;
}

#linkedin-icon {
  order: 1;
  border-radius: 8px;
}

#angelist-icon {
  order: 2;
  border-radius: 8px;
}

#twitter-icon {
  order: 3;
  border-radius: 8px;
}

#medium-icon {
  order: 4;
  border-radius: 8px;
}

a:hover {
  background-color: #ff6b00;
}
