html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 375px;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 6924px;
  background: #fff;
  background-color: darkmagenta;
}

/* NAVBAR */
.navbar {
  display: flex;
  flex-direction: row;
  width: 375px;
  height: 48px;
  background: #3c3a39;
  align-items: center;
  justify-content: space-between;
  order: 0;
}

.logo-placeholder {
  display: flex;
  align-items: center;
  width: 101px;
  height: 25px;
  border-radius: 8px;
  text-decoration: none;
  order: 0;
}

#logo-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  width: 100px;
  height: 20px;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
  text-align: center;
  color: #fff;
}

.nav-menu-icon {
  width: 18px;
  height: 12px;
  position: relative;
  right: 36px;
  order: 1;
}

.navbar-menu {
  order: 2;
  display: none;
}

/* HEADLINE */
.headline {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 590px;
  background: url('../images/illustration-header-mobile.png') no-repeat #1c1a19;
  background-position: 100% 130%;
  align-items: flex-start;
  order: 1;
}

#primary-text {
  width: 327px;
  height: 124px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-size: 56px;
  line-height: 64px;
  font-weight: 400;
  color: #f55800;
  flex: none;
  margin: 120px 24px 12px 24px;
}

#supporting-text {
  width: 327px;
  height: 27px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff;
  flex: none;
  order: 1;
  margin: 0px 24px 12px 24px;
}

#description {
  width: 327px;
  height: 123px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 24px 12px 24px;
}

.headline-social-media {
  display: flex;
  width: 200px;
  list-style-type: none;
  justify-content: space-between;
  order: 3;
  margin: 0px 151px 120px 24px;
}

.social-media-icon {
  border-radius: 8px;
}

a:hover {
  background-color: #ff6b00;
}

/* WORKS */
.works {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 3455px;
  order: 2;
}

.works-header {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 107px;
  margin: 120px 24px 80px 24px;
  order: 0;
}

.works-title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  width: 327px;
  height: 83px;
  font-weight: 400;
  font-size: 40px;
  line-height: 30px;
  color: #091e42;
  order: 0;
}

.works-header-hr {
  width: 80%;
  border: 1px solid #212121;
  order: 1;
}

.works-content {
  margin-bottom: 120px;
  order: 1;
}

.featured-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 568px;
  margin-bottom: 24;
}

#featured-image {
  width: 327px;
  height: 237px;
  background: url('../images/featured-work/Img-Placeholder.png') no-repeat;
  margin: 0px 24px 24px 24px;
  order: 0;
}

.featured-textblock {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 307px;
  justify-content: flex-start;
  order: 1;
}

#textblock-title {
  font-family: 'Crete Round', sans-serif;
  width: 327px;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  align-items: center;
  color: #091e42;
  margin: 0px 0px 12px 0px;
}

#testblock-supporting-text {
  width: 327px;
  font-size: 16px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  color: #091e42;
  margin: 0px 0px 12px 0px;
}

.textblock-tags {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 236px;
  height: 40px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  font-family: 'Inter', serif;
  font-style: normal;
  box-sizing: border-box;
  position: relative;
  right: 40px;
  gap: 12px;
  margin: 0px 0px 24px 0px;
}

.textblock-tags>li {
  background: #fff;
  border: 1px solid #8993a4;
  padding: 10px 12px;
}

.textblock-link {
  background-color: #f55800;
  color: white;
  padding: 14px 25px;
  width: 124px;
  text-align: center;
  text-decoration: none;
}

.other-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  width: 375px;
  height: 2436px;
  align-items: center;
}

.content-defaults {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 386px;
  background: url('../images/featured-work/Img-Placeholder2.png') no-repeat;
  margin: 0px 0px 24px 0px;
}

.content1 {
  display: flex;
  justify-content: flex-end;
}

.other-content-title {
  width: 295px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  padding-left: 12px;
  color: #fff;
  position: relative;
  top: 50px;
}

.other-content-description {
  width: 295px;
  height: 87px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 12px;
  color: #fff;
  position: relative;
  top: 10px;
}

.other-content-tags {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 236px;
  height: 40px;
  list-style-type: none;
  color: #fff;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  box-sizing: border-box;
  position: relative;
  right: 30px;
}

.other-content-tags>li {
  width: fit-content;
  padding: 10px;
  background: rgba(255, 255, 255, 0.24);
  justify-content: flex-start;
}

.other-content-link {
  background-color: #ff6b00;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  top: 10px;
}

/* ABOUT */
.about {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 1901px;
  background: #262626;
  background: url('../images/about/Frame.png') no-repeat #1c1a19;
  background-position: 100% 25%;
  justify-content: center;
  order: 3;
}

.about-top {
  display: flex;
  flex-direction: column;
}

.about-primary-text {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-size: 72px;
  font-weight: 400;
  color: #f55800;
  position: relative;
  margin: 120px 24px 24px 24px;
}

.about-description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  width: 327px;
  height: 148px;
  font-weight: 400;
  line-height: 24px;
  color: #f4f5f7;
  margin: 0px 24px 24px 24px;
}

.about-link {
  background-color: #f55800;
  padding: 10px;
  color: white;
  text-align: center;
  justify-content: center;
  width: 150px;
  text-decoration: none;
  margin: 0px 190px 209px 24px;
}

.about-hr {
  width: 327px;
  border: 1px solid #fff;
  margin: 0px 24px 136px 24px;
}

.about-bottom {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
}

.about-bottom-subtopic {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  width: 150px;
  height: 24px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 0px 74.77px 36px 74.77px;
}

.about-bottom-items>ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 186px;
  height: 216px;
}

.about-bottom-items>ul>li {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  align-items: center;
  text-align: center;
  color: #fff;
  list-style-type: none;
}

.subtopic-language {
  list-style-image: url("../images/about/Rectangle\ 55.png");
}

.subtopic-frameworks {
  list-style-image: url("../images/about/Rectangle\ 56.png");
}

.subtopic-skills {
  list-style-image: url("../images/about/Rectangle\ 57.png");
}

/* LAST SECTION */
.last-section {
  width: 375px;
  height: 844px;
  background-color: #fff;
  order: 4;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.last-section-text {
  width: 327px;
  height: 350px;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #172b4d;
  line-height: 44px;
  order: 0;
  margin: 120px 24px 58px 24px;
}

.last-section-form {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 330px;
  gap: 24px;
  order: 1;
}

#first-name {
  display: none;
}

#last-name {
  display: none;
}

#name {
  width: 327px;
  height: 48px;
  margin: 0px 0px 12pxpx 0px;
  order: 0;
}

#email {
  width: 327px;
  height: 48px;
  order: 1;
  margin-top: 10px;
  margin-bottom: 10px;
}

#message {
  width: 327px;
  height: 114px;
  order: 2;
  margin-bottom: 15px;
}

#submit-btn {
  order: 3;
  width: 131px;
  height: 48px;
  background: #f55800;
  flex-direction: row;
  align-items: center;
  color: #fff;
  border: none;
}

#submit-btn:hover {
  background: #8993a4;
}

/* BOTTOM NAVIGATION */
.bottom-navigation {
  order: 5;
}

#footer {
  display: flex;
  gap: 30px;
  list-style-type: none;
  align-items: center;
}

@media only screen and (min-width: 768px){
  * {
    margin: 0 0 0 0;
  }

  html, body {
    width: 768px;
  }

  .main-container {
    width: 768px;
    height: 4561px;
  }

  .navbar {
    width: 768px;
    height: 72px;
    order: 0;
  }
  
  .logo-placeholder {
    width: 116px;
    height: 40px;
    position: relative;
    left: 5%;
  }

  .navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 255px;
    height: 40px;
    right: 5%;
    justify-content: space-around;
  }

  .nav-menu-icon {
    display: none;
  }
  
  .nav-menu-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    text-decoration: none;
    color: #fff;
  }
  
  #nav-mail-icon {
    width: 20px;
    height: 20px;
  }

  /* HEADLINE */
  .headline {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
  }

  /* WORKS */
  .works {
    width: 100%;
  }

  .works-header {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .works-title {
    width: 30%;
  }
}